//Variables
$primary-color: #f0f0f0;
$button-color: #1e90ff;
$selection-color: #fff;
$not-user-color: #999;


//General
.container {
    margin: auto;
    height: auto;
    background-color: $primary-color;
    width: 95%;
    border-radius: 15px;
    box-sizing: border-box;
}


//Fonts
@font-face {
  font-family: "Bebas Neue";
  src: url("../../public/fonts/BebasNeue-Regular.ttf") format("truetype");
}


//Texts
h1, h2, h3, p, ul, li, a {
    font-family: "Bebas Neue";
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 10px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    list-style-type: none;
}

//Header
header a {
    margin: 10px;
    text-decoration: none;
    color: #000;
    background-color: $button-color;
    border-radius: 15px;
}

a:hover {
    color: $selection-color;
    transition: 0.2s;
    cursor: pointer;
}


//Homepage
.home-history, .home-favorites{
    font-family: "Bebas Neue";
    margin: auto;
    width: 75%;
    height: 50px;
    padding: 40px;
    background-color: $not-user-color;
    border-radius: 15px;
}

.home-playlists {
    font-family: "Bebas Neue";
    margin: auto;
    width: 75%;
    height: 50px;
    padding: 40px;
    background-color: $selection-color;
    border-radius: 15px;
}

.button-history, .button-favorites, .button-playlists{
    font-family: "Bebas Neue";
    width: 20%;
    margin-left: 30px;
    padding: 5px;
}


//Search
.search-bar {
    margin: auto;
    width: 50%;
    padding: 10px;
}

::placeholder {
    font-size: 12px;
    font-family: "Bebas Neue";
    padding-left: 2px;
    opacity: 0.5;
}

.search-bar button {
    display:block;
    margin: auto;
    font-family: "Bebas Neue";
    border-radius: 5px;
    border: 1px solid;
    margin-top: 10px;
    padding: 5px;
    background-color: $selection-color;
}

.search-bar button:hover {
    font-family: "Bebas Neue";
    border-radius: 5px;
    border: 1px solid;
    color: $selection-color;
    background-color: $button-color;
    transition: 0.2s;
    cursor: pointer;
}

.search-artist, .search-tracks, .search-album {
    display: flex;
    overflow: scroll;
    font-family: "Bebas Neue";
    margin: auto;
    width: 75%;
    height: 50px;
    padding: 40px;
    background-color: $selection-color;
    border-radius: 15px;
    gap: 15px;
}

.search-tag {
    font-family: "Bebas Neue";
    width: 20%;
    margin-left: 30px;
    padding: 5px;
}

.search-artist img, .search-tracks img, .search-album img {
   max-width: 100%;
   width: 200px;
   height: 50px;
}

.artists, .tracks, .albums {
    background-color: $primary-color;
    width: 20%;
    height: 100%;
    text-align: center;
}

.tags {
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    margin-top: -20px;
}


//Library
.library-history, .library-favorites {
    font-family: "Bebas Neue";
    font-size: 30px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 40px;
    background-color: $not-user-color;
    text-align: center;
    width: 75%;
    height: 10%;
    border-radius: 15px;
}

.library-playlists {
    font-family: "Bebas Neue";
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 40px 40px 40px;
    background-color: $selection-color;
    text-align: center;
    width: 75%;
    border-radius: 15px;
}

.add-playlist, .delete-playlist, .rename-playlist {
    display: block;
    margin: auto;
    font-family: "Bebas Neue";
    border-radius: 5px;
    border: 2px solid $button-color;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: $button-color;
    text-decoration: none;
    border-radius: 15px;
}

.add-playlist:hover, .delete-playlist:hover, .rename-playlist:hover {
    color: $selection-color;
    transition: 0.2s;
    cursor: pointer;
}

.library-list {
    font-family: "Bebas Neue";
    display: block;
    margin: auto;
    background-color: $primary-color;
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 15px;
}

.library-list:hover {
    color: $selection-color;
    background-color: $button-color;
    transition: 0.2s;
    cursor: pointer;
}

.creating-playlist button, .renaming-playlist button {
    display: block;
    margin: auto;
    margin-top: 10px;
}


//Profile
.login-page, .register-page {
    font-family: "Bebas Neue";
}

input {
    display: block;
    margin: auto;
}

label {
    display: block;
    margin: auto;
    text-align: center;
}

.login-page button, .register-page button {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $button-color;
    font-family: "Bebas Neue";
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid $button-color;
}

.login-page button:hover, .register-page button:hover {
    color: $selection-color;
    background-color: $button-color;
    transition: 0.2s;
    cursor: pointer;
}


//Footer
footer {
    padding: 5px;
}

/*
//Responsive
@media (min-width: 768px) and (max-width: 1280px) {
    .container {
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 100%;
    }
}
*/
